body {
 padding-left:50px;
  padding-right:50px;
  background-color:#b6d4fe;
}

#Alex_img {
  padding-left: 70px;
  padding-bottom:40px;


}
.p1 {
  padding-left:540px;
  font-family: cursive;
  padding-top:20px;
}

.p2 {
  padding-left:460px;
  font-family: cursive;
}

.p3 {
  padding-left:440px;
  font-family: cursive;

}

.titulo {
  weight: 500px;
  font-family:cursive;
  text-align: center;
  padding-bottom:50px;
}

#div1 {
  color:blue;
}


.resumen{
 text-align: center;
  font-family: cursive;
}

#information_text {
  text-align: center;
  font-family:cursive;
  padding-bottom:40px;
}


h1 {
  text-align:center;
  padding-bottom:0px;
}
.informacion {
  text-align:center;

}

h4, hr {
  margin-left:50px;
  margin-right:90px;
}

.school_name {
  margin-left:50px;

}
.puntos_negros {
  margin-left:70px
}

.date {
  text-align:center;
  margin-left:60px;
  margin-bottom:20px;
}

.date2 {
  padding-left:230px;
  text-align:center;
}

#bandera {
    padding-top:20px;
}
.cosas_favoritas {
    font-family:cursive;
     text-align: center;
}

.list  {
   padding-left:  870px;
}

.final {
  background-color: dodgerblue;
}
