body {
  background-color:red;
}

#Alex_img {
  padding-left: 70px;
  padding-bottom:40px;


}
.p1 {
  padding-left:600px;
  font-family: cursive;
}

.titulo {
  weight: 500px;
  font-family:cursive;
  text-align: center;
}

#div1 {
  color:blue;
}


.resumen{
 text-align: center;
  font-family: cursive;
}

#information_text {
  text-align: center;
  font-family:cursive;
  padding-bottom:40px;
}






